:root {
    --blanco: #ffffff;
    --fondo: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--fondo);
    font-family: 'Open Sans', sans-serif;
}

.contenedor {
    width: 90%;
    margin: auto;
}

header {
    padding: 30px 0;
}

header .contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logotipo {
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
    color: var(--blanco);
    font-size: 40px;
}

header nav a {
    color: #AAA;
    text-decoration: none;
    margin-right: 20px;
}

header nav a:hover,
header nav a.activo {
    color: #FFF;
}

img {
    margin-left: 5%;
    margin-bottom: 2%;
    border-radius: 10px;
    -webkit-transition:-webkit-transform 0.3s ease-in-out 0.1s  ;
}

#texto {
    color: #ffffff;
}

img:hover{
    -webkit-transform:scale(1.1);
    
}
/* ---- ----- ----- Media Queries ----- ----- ----- */

@media screen and (max-width: 800px) {
    header .logotipo {
        margin-bottom: 10px;
        font-size: 30px;
    }
    header .contenedor {
        flex-direction: column;
        text-align: center;
    }

}