@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');
* {
    box-sizing: border-box;
}

body {
    background-image: url(../img/fondoContacto.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 400px;
    max-width: 100%;
    padding: 10px 20px;
}

.header {
    border-bottom: 1px solid #f0f0f0;
    background-color: #f7f7f7;
    padding: 20px 40px;
}

.header h2 {
    margin: 0;
    text-align: center;
}

.form-control {
    margin-bottom: 10px;
    padding: 10px;
    position: relative;
}

.form-control label {
    display: inline-block;
    margin-bottom: 1px;
}

.form-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 2%;
}

.form-control input:focus {
    outline: 0;
    border-color: #777;
}

.form-control.success input {
    border-color: #2ecc71;
}

.form-control.error input {
    border-color: #e74c3c;
}

.form-control i {
    visibility: hidden;
    position: absolute;
    top: 40px;
    right: 10px;
}

.form-control.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
}

.form-control small {
    color: #e74c3c;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-control.error small {
    visibility: visible;
}

#enviar{
    background: #5f9d5f;
    color: #fff;
    width: 100%;
    padding: 5px;
    margin-bottom: 2%;
    border: none;
}
#enviar:hover{
    cursor: pointer;
}
#limpiar{
    background: #31384A;
    color: #fff;
    width: 100%;
    padding: 5px;
    border: none;
}
#limpiar:hover{
    cursor: pointer;
}