body {
<<<<<<< HEAD
=======
    padding: 1%;
>>>>>>> origin/francisco
    background-color: #158bb9;
    font-family: 'Roboto Slab', serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-login {
    width: 400px;
    height: 340px;
    background: #4e4e4e;
    margin: auto;
    margin-top: 180px;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    border-top: 4px solid #017bab;
}
<<<<<<< HEAD

=======
>>>>>>> origin/francisco
.form-login h2 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
}
<<<<<<< HEAD

=======
>>>>>>> origin/francisco
.controls {
    width: 100%;
    border: 1px solid #017bab;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #252323;
    font-size: 14px;
    font-weight: bold;
}
<<<<<<< HEAD

.buttons {
    width: 100%;
=======
.buttons {
    width: 100%;

>>>>>>> origin/francisco
    height: 40px;
    background: #017bab;
    border: none;
    color: white;
    margin-bottom: 16px;
}
<<<<<<< HEAD

=======
>>>>>>> origin/francisco
.form-login p {
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
}
<<<<<<< HEAD

=======
>>>>>>> origin/francisco
.form-login a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}
<<<<<<< HEAD

.form-login a:hover {
    text-decoration: underline;
=======
.form-login a:hover {
    text-decoration: underline;
}

#home{
    font-size: 20px;
    color: white;
    text-decoration: none;
>>>>>>> origin/francisco
}