body {
<<<<<<< HEAD
=======
    padding: 1%;
>>>>>>> origin/francisco
    background-color: #158bb9;
    font-family: 'Roboto Slab', serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-register {
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}

.form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
}
<<<<<<< HEAD

=======
>>>>>>> origin/francisco
.controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}
<<<<<<< HEAD

=======
>>>>>>> origin/francisco
.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}
<<<<<<< HEAD

=======
>>>>>>> origin/francisco
.form-register a {
    color: white;
    text-decoration: none;
}
<<<<<<< HEAD

=======
>>>>>>> origin/francisco
.form-register a:hover {
    color: white;
    text-decoration: underline;
}
<<<<<<< HEAD

=======
>>>>>>> origin/francisco
.form-register .botons {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
<<<<<<< HEAD
=======
}

#home{
    font-size: 20px;
    color: white;
    text-decoration: none;
>>>>>>> origin/francisco
}