body {
    background-color: #A74482;
}

div {
    width: 100%;
}

img {
    margin-left: 1.5px;
    margin-right: 1.5px;
    margin-top: 1.5px;
    margin-bottom: 1.5px;
}

body {
    text-align: center;
}