@charset "utf-8";

body{
    background-color: cadetblue;
}
header{
    text-align: center;
}
#registro{
    margin-left: 90%;
}
nav{
    background-color: darkgray;
    float: right;
    padding-bottom: 35%;
    border-style: solid;
    margin-right: 1%;
}
#peliculas{
    background-color: white;
    float: left;
    padding-right: 10%;
    padding-bottom: 20%;
    padding-left: 10%;
    border-style: solid;
}
#criticas{
    background-color: white;
    float: left;
    padding-right: 10%;
    padding-bottom: 20%;
    padding-left: 10%;
    border-style: solid;
    margin-left: 5%;
}
#series{
    background-color: white;
    float: left;
    padding-right: 10%;
    padding-bottom: 20%;
    padding-left: 10%;;
    border-style: solid;
    margin-left: 5%;
}
#estrenos{
    background-color: white;
    float: left;
    padding-right: 82%;
    border-style: solid;
    margin-top: 1%;
}
#proximosEstrenos{
    background-color: white;
    float: left;
    padding-right: 74%;
    border-style: solid;
    margin-top: 1%;
}
